@charset "utf-8";
#banner,#banner img{width: 100%;height: 4.266667rem;}
#banner{position: relative;}
#banner>div{width: 3.2rem;height: 3.2rem;background: #cb5977;border-radius: 50%;position: absolute;left: 3.386667rem;bottom: 0.533333rem;}
#banner>div div{text-align: center;color: #fff;margin-top: 0.933333rem;}
#banner>div div span{font-size: 0.586667rem;margin-top: 0.266667rem;display: inline-block;}
/*不但目的的*/
#bth .bthu{width: 9.466667rem;border-bottom: 1px dashed #999999;margin-left: 0.266667rem; }
#bth #bu{height: 5.946667rem;}
#bth .bthu h2{margin-top: 0.666667rem;margin-bottom: 0.4rem;color: #8ca6c2}
#bth .bthu div a{width: 2.986667rem;height: 3.76rem;margin-right: 0.24rem;display: inline-block;float: left;display: flex; flex-direction:column;}
#bth .bthu div a b{display: inline-block;}
#bth .bthu div a b img{width: 2.986667rem;height: 2.986667rem;border-radius: 50%;}
#bth .bthu div a span{text-align: center;height: 0.773333rem;line-height: 0.773333rem;color: #999999;}

#bth #bt{/*height: 11.706667rem;*/height: 8.373333rem;}
#bth #bt div{height: 4.986667rem;display: flex;}
#bth #bt div a{display: inline-block;width: 4.586667rem;}
#bth #bt div a b img{border-radius: 0;}
#bth #bt div a:first-of-type b img{width: 4.613333rem;height: 3.253333rem;}
#bth #bt div a:nth-of-type(2) b img{height: 3.44rem;width: 4.613333rem}
#bth #bt div a p{margin-top:0.213333rem;color: #000;}
#bth #bt div a span{color: #cc6d83;}
#bth #bt .over{display: inline-block;margin-top: 0.72rem;display: none;}
#bth #bt .over b img{height: 3.44rem;width:9.466667rem;}
#bth #bt .over p{height: 0.746667rem;line-height: 0.746667rem;color: #000;}
#bth #bt .over span{color: #cc6d83;}
#bth #bt .more{width: 4.133333rem;height: 1.04rem;border-radius: 0.48rem;border:1px solid #cc5e7c;margin-top: 0.533333rem;margin-left: 2.8rem;color: #cc5e7c;}
#bth #bt .more span:first-of-type{line-height:1.04rem; margin-left: 1.066667rem;}
#bth #bt .more span:last-of-type{width: 0.266667rem;height: 0.266667rem; border-bottom: 0.053333rem solid #cb5977;border-right: 0.053333rem solid #cb5977;margin-left: 0.133333rem;transform: rotate(45deg);-webkit-transform: rotate(45deg); display: inline-block; }