@charset "utf-8";
#des{width: 100%;height: 100%;/*background: url(../images/bg-image.jpg) no-repeat*/ ;}
/*热门目的地*/
#hot{padding-left: 0.266667rem;height: 28.106667rem;padding-bottom: 0.266667rem;border-bottom: 1px dashed #999999;}
#hot h2{margin-top: 0.613333rem;margin-bottom: 0.4rem;font-size: 0.48rem;color: #91adc2;}
#hot div a{width: 2.986667rem;height: 3.76rem;margin-right: 0.24rem;display: inline-block;float: left;display: flex; flex-direction:column;}
#hot div a b{display: inline-block;}
#hot div a b img{width: 2.986667rem;height: 2.986667rem;border-radius: 50%;}
#hot div a span{text-align: center;height: 0.773333rem;line-height: 0.773333rem;color: #999999;}
/*国家排名*/
#rank{padding:0 0.266667rem;padding-bottom: 0.533333rem;}
#rank .inte{padding-bottom: 0.266667rem;border-bottom: 1px dashed #999;}
#rank .inte h2{height: 1.253333rem;line-height: 1.253333rem;}
#rank .inte div a{display: inline-block;margin: 0 0.266667rem 0.266667rem 0;padding:0.16rem 0.213333rem;color: #fff;background: red;}
















