#pageTop{height: 1.6rem;width: 100%;}
#pageTop header{height:100%;background: url(../../../images/bg-image-header.jpg) no-repeat;background-size: 100% 100%;padding:0 0.16rem 0 0.26666666666666666rem;box-sizing: border-box;display: flex;justify-content: space-between;align-items: center;}

#pageTop header .btn-bird{
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#pageTop header img{
	width: 3.4133333333333336rem;
	height: 0.72rem;
}
#pageTop .icon-zanadu-bird{
	font-family: 'Zanadu-icons';
	width: 0.8rem;
	height: 0.8rem;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 0.8rem;
	text-align: center;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pageTop .icon-zanadu-bird:before{
	content: "\24";
	color: #fff;
	font-size: 0.37333333333333335rem;
}
#pageTop header .btn-nav{
	height: 0.8rem;
	width: 0.8rem;
	border: 1px solid #fff;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0.18666666666666668rem;
	box-sizing: border-box;
}
#pageTop header .btn-nav span{
	width: 0.4266666666666667rem;
    height: 0.05333333333333334rem;
    display: block;
    background-color: #ffffff;
    backface-visibility: hidden;
}

#pageTop section .container{
	padding: 0.26666666666666666rem;
	padding-bottom: 1.0666666666666667rem;
	width: 100%;
}
#pageTop section .container h3{
	font-size: 0.48rem;
	line-height: 0.7466666666666667rem;
	margin-bottom: 0.26666666666666666rem;
}
#pageTop section .container h3 small{
	font-size: 0.37333333333333335rem;
}
#pageTop .padding-right-20 {
    padding-right: 0.5333333333333333rem;
}
#pageTop [class^="icon-"], [class*=" icon-"] {
    font-family: 'Zanadu-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
#pageTop .errorMessage {
    margin-top: 0.08rem;
    color: #c63435;
}

#pageTop .errorMessage:before {
    content: "\28";
    margin-right: 0.13333333333333333rem;
    font-family: 'Zanadu-icons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


#pageTop option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    font-size: 0.37333333333333335rem;
    /*padding: 0px 0.05333333333333334rem 0.02666666666666667rem;*/
}

#pageTop .icon-caret-down:before{
	    content: "\5b";
}
#pageTop .bespoke-form .icon{
	position: absolute;
    right: 0.21333333333333335rem;
    top: 0.26666666666666666rem;
    color: #999;
    font-size: 0.37333333333333335rem;
}

#pageTop section .container ul li{
	margin-bottom: 0.26666666666666666rem;
	position: relative;
	overflow: hidden;
}
.input-checkbox.gray .input, .input-radio.gray-checkbox .input {
    background-position: -0.4rem 0;
}
.input-checkbox .input {
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.08rem;
}
.relative{
	position: relative;
}
.input-checkbox .input, .input-radio .input {
    background: url(../../../images/form-sprite.png) no-repeat;
}
.margin-right-10 {
    margin-right: 0.26666666666666666rem;
}
.left {
    display: block;
    float: left;
}

.input-checkbox input, .input-radio input {
    display: none;
}



#pageTop section .container ul li .required{
	color: #ba1f44;
    position: absolute;
    left: 0.08rem;
    top: 0.37333333333333335rem;
    font-size: 1.2em;
}
#pageTop section .container ul li .input-text{
	width: 100%;
    box-sizing: border-box;
    padding: 0.32rem 0.26666666666666666rem;
    font-size: 0.9em;
    background: #EAEAEA;
    border: 1px solid transparent;
    -webkit-appearance: none;
    border-radius: 0
;}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.32rem 0.26666666666666666rem;
    font-size: 0.9em;
    background: #EAEAEA;
    border: 1px solid transparent;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: 0;
}

.bespoke-form .half-width {
    width: 50%;
    box-sizing: border-box;
}
.padding-right-5 {
    padding-right: 0.13333333333333333rem;
}
.padding-left-5 {
    padding-left: 0.13333333333333333rem;
}
.right {
    display: block;
    float: right;
}


.separator.solid {
    height: 0.02666666666666667rem;
    background: #ccc;
}
.separator {
    width: 100%;
    height: 0;
    text-indent: -240rem;
    /* font-size: 0; */
    border: none;
    background: none;
}

.margin-bottom-20 {
    margin-bottom: 0.5333333333333333rem;
}
.margin-top-20 {
    margin-top: 0.5333333333333333rem;
}
.input-checkbox .input {
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.08rem;
}
.text-center {
    text-align: center;
}
.input-submit {
    border: none;
    /* background: none; */
    cursor: pointer;
    border-radius: 0;
    box-shadow: 0;
}
.button {
    display: block;
    padding: 0.32rem 0.8rem;
    text-align: center;
    color: #fff;
    border: 2px solid #cb5977;
    cursor: pointer;
    background: #cb5977;
    font-size: 1em;
}
.width-auto {
    width: 100%;
}
.margin-bottom-20 {
    margin-bottom: 0.5333333333333333rem;
}
.clear{
	overflow: hidden;
}
