html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{vertical-align: middle;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
body { color:#333; font:0.32rem "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}
a { color:#666; text-decoration:none; }
a:visited { color:#666; }
a:hover, a:active, a:focus { color:#ff8400; text-decoration:underline; }
*{box-sizing: border-box;margin: 0;padding: 0;}
@font-face {
    font-family: 'Zanadu-icons';
    src:url('fonts/Zanadu.woff');
    /*src:url('http://cdn-img.zanadu.cn/assets/6e155c21/public/fonts/Zanadu.eot#iefix') format('embedded-opentype'),
    url('http://cdn-img.zanadu.cn/assets/6e155c21/public/fonts/Zanadu.woff') format('woff'),
    url('http://cdn-img.zanadu.cn/assets/6e155c21/public/fonts/Zanadu.ttf') format('truetype'),
    url('http://cdn-img.zanadu.cn/assets/6e155c21/public/fonts/Zanadu.svg#Zanadu') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
header, footer, article, section, aside, .super-content {
    display: block;
    position: relative;
    width: 100%;
}

