#private-ordering-my{
	width: 100%;
	height: 100%;
	color: #666;
}
#private-ordering-my>h3{
	padding: 20px;
	background: #eee;
	font-size: 14px;
	font-weight: 100;
}
#private-ordering-my>section:nth-of-type(1){
	padding-bottom: 20px;
	background: #eee;
}
#private-ordering-my>section .container{
	background: #fff;
}
#private-ordering-my>section:nth-of-type(1) .container{
	padding: 20px;
	padding-bottom: 10px;
	
}
#private-ordering-my>section:nth-of-type(1) .container p{
	margin-bottom: 10px;
}
#private-ordering-my>section:nth-of-type(1) .container p.email,#private-ordering-my>section:nth-of-type(1) .container p.phone{
    color: #CB5977;
}
#private-ordering-my>section:nth-of-type(1) .container p a{
	 color: #CB5977;
}
#private-ordering-my>section:nth-of-type(1) .container p.email span:before,#private-ordering-my>section:nth-of-type(1) .container p.phone span:before{
		font-family: 'Zanadu-icons';
	    content: "\30";
	    margin-right: 5px;
}

#private-ordering-my>section:nth-of-type(2){
	padding: 20px;
	    background-color: #304d64;
	    font-size: 14px;
}

#private-ordering-my>section:nth-of-type(2) dl{
	margin-bottom: 10px;
	overflow: hidden;
}
#private-ordering-my>section:nth-of-type(2) dl dt{
	float: left;
	    color: #8ca6c2;
}
#private-ordering-my>section:nth-of-type(2) dl dd{
	float: right;
	color: #fff;
	font-weight: bold;
}
